@media screen and (max-width: 1140px) {
    .container{
        max-width: auto;
        width: 100%;
        margin: 0;; 
    }
}
@media screen and (max-width: 850px) {
    
}
.banner {
    margin-top: 56px;
    padding: 30px 0;
}
